@page "/"

@inject IJSRuntime JS
@inject IUserDataService UserDataService

@using ReactorBlazorQRCodeScanner
@using TFACGUI.BlazorWebApp.Models
@using TFACGUI.BlazorWebApp.Services
@using GlitchedPolygons.ExtensionMethods

<PageTitle>
    TFACGUI
</PageTitle>

<h1>
    TFACGUI
</h1>

<div class="btn-flex mb-3">

    <button class="btn btn-success stretch-when-narrow"
            @onclick="OnClickScanTotpSecret">
        Scan QR
    </button>

    <button class="btn btn-success stretch-when-narrow"
            data-bs-toggle="modal"
            data-bs-target="#registerTotpSecretModal">
        Enter manually
    </button>

</div>

<QRCodeScanner LoadingMessage=""
               OutputMessage="No QR code detected"
               Width="@qrCodeScannerWidth" />

@foreach (TotpConfig totpConfig in userData.Chain)
{
    <div class="card stretch-when-narrow mb-3">

        <div class="card-body">

            <div class="totp-title-label">

                <span class="unselectable bi bi-clickable bi-pencil-square"
                      aria-hidden="true"
                      title="Click here to edit this TOTP config entry."
                      style="cursor: pointer; top: 1px;"
                      @onclick="() => OnClickEditConfig(totpConfig)">
                </span>

                <h4 class="unselectable card-title bi-clickable"
                    style="cursor: pointer;"
                    title="Issuer: @totpConfig.Issuer"
                    @onclick="() => OnClickCopyTOTP(totpConfig)">
                    @totpConfig.Name
                </h4>

            </div>

            <h6 class="unselectable card-subtitle mb-2">
                @totpConfig.Label
            </h6>

            <p class="card-text">

                <code class="totp-code unselectable"
                      id="@totpConfig.Id"
                      style="cursor: pointer;"
                      @onclick="() => OnClickCopyTOTP(totpConfig)">
                    @totpConfig.Totp
                </code>

            </p>

            <div class="progress">

                <div class="progress-bar @(totpConfig.RemainingSeconds < 4 ? "bg-danger" : totpConfig.RemainingSeconds < 8 ? "bg-warning" : string.Empty)"
                     role="progressbar"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     aria-valuenow="@totpConfig.RemainingLifetimePercentage"
                     style="width: @(totpConfig.RemainingLifetimePercentage)%; transition-duration: @(totpConfig.RemainingSeconds < 0.25d || totpConfig.RemainingSeconds > ((double)totpConfig.Period - 0.25d) ? "0.00s" : "0.25s");">
                </div>

            </div>
        </div>
    </div>
}

<!-- Manual 2FA registration modal -->
<div class="modal fade"
     id="@Constants.ElementIds.REGISTER_TOTP_SECRET_MODAL"
     tabindex="-1"
     aria-labelledby="@Constants.ElementIds.REGISTER_TOTP_SECRET_MODAL_LABEL"
     aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title"
                    id="@Constants.ElementIds.REGISTER_TOTP_SECRET_MODAL_LABEL">
                    Manually enter a 2FA secret
                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>

            <div class="modal-body">

                <p>
                    Manually add a 2FA secret to your TFACGUI chain by compiling the form below.
                    <span style="cursor: help"
                          title="@manualRegistrationDescTooltip"
                          onclick="alert('@manualRegistrationDescTooltip.Replace("\n", "\\n")')">
                        ❓
                    </span>
                </p>

                <div class="form-group">

                    <label for="@Constants.ElementIds.TOTP_CONFIG_ENTRY_NAME"
                           class="form-label mt-2">
                        Name
                    </label>

                    <input type="text"
                           min="2"
                           max="32"
                           class="form-control"
                           id="@Constants.ElementIds.TOTP_CONFIG_ENTRY_NAME"
                           placeholder="Enter a recognizable name"
                           @oninput="CheckManualRegistrationReady"
                           autocomplete="off">
                </div>

                <div class="form-group">

                    <label for="@Constants.ElementIds.TOTP_SECRET"
                           class="form-label mt-2">
                        2FA Secret
                    </label>

                    <input type="password"
                           class="form-control"
                           id="@Constants.ElementIds.TOTP_SECRET"
                           placeholder="Base32-encoded TOTP secret"
                           @oninput="CheckManualRegistrationReady"
                           onClick="this.select();"
                           autocomplete="off">
                </div>

                <fieldset class="form-group">
                    
                    <label class="form-label mt-2">
                        Algorithm
                    </label>
                    
                    <div class="form-check">
                        
                        <input class="form-check-input"
                               type="radio"
                               name="algorithmRadioButtons"
                               id="algorithmRadioButtons0"
                               value="option1"
                               checked="">
                        
                        <label class="form-check-label"
                               for="algorithmRadioButtons0">
                            SHA-1 (default)
                        </label>
                    </div>
                    
                    <div class="form-check">
                        
                        <input class="form-check-input"
                               type="radio"
                               name="algorithmRadioButtons"
                               id="algorithmRadioButtons1"
                               value="option2">
                        
                        <label class="form-check-label"
                               for="algorithmRadioButtons1">
                            SHA-256
                        </label>
                    </div>
                    
                    <div class="form-check">
                        
                        <input class="form-check-input"
                               type="radio"
                               name="algorithmRadioButtons"
                               id="algorithmRadioButtons2"
                               value="option3">
                        
                        <label class="form-check-label"
                               for="algorithmRadioButtons2">
                            SHA-512
                        </label>
                    </div>
                </fieldset>

                <br />

            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary stretch-when-narrow"
                        data-bs-dismiss="modal">
                    Cancel
                </button>

                <button type="button"
                        data-bs-dismiss="modal"
                        class="btn btn-success stretch-when-narrow"
                        disabled="@(!registrationReady)"
                        @onclick="OnClickEnterManually">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    private bool registrationReady = false;

    private QRCodeScannerJsInterop? qrCodeScannerJsInterop;
    private Models.UserData userData = Models.UserData.Empty;

    private readonly string qrCodeScannerWidth = "512";
    private readonly string manualRegistrationDescTooltip = "Manually registering a 2FA secret is useful for example if your device has no camera to scan the QR code with, or if you want more control over how the entry is going to be labelled inside your TFACGUI chain.\n\nMake sure to enter everything correctly and label everything in an easily recognizable fashion!";

    protected override async Task OnInitializedAsync()
    {
        qrCodeScannerJsInterop = new QRCodeScannerJsInterop(JS);

        userData = await UserDataService.GetUserData();

        for (;;)
        {
            StateHasChanged();

            await Task.Delay(128);
        }
    }

    private async Task OnClickCopyTOTP(TotpConfig totpConfig)
    {
        await JS.InvokeVoidAsync(Constants.InteropFunctionNames.COPY_TO_CLIPBOARD, totpConfig.TotpRaw);

        await JS.InvokeVoidAsync(Constants.InteropFunctionNames.PRESS_COPY_BUTTON_PORTABLE, totpConfig.Id, "\u2705Copied...", totpConfig.Totp);

        // TODO: animate the card here (something flashy?)
    }

    private async Task OnClickScanTotpSecret()
    {
        if (qrCodeScannerJsInterop is null)
        {
            return;
        }

        await qrCodeScannerJsInterop.Init(OnQrCodeScan);
    }

    private async Task OnClickEditConfig(TotpConfig config)
    {
        // TODO: impl.
    }

    private void OnQrCodeScan(string qrCodeContent)
    {
#if DEBUG
        Console.WriteLine($"Scanned QR-Code: \"{qrCodeContent}\"");
#endif

        // TODO: show dialog here and handle otp auth url!

        qrCodeScannerJsInterop?.StopRecording().GetAwaiter().GetResult();
    }

    private async Task OnClickEnterManually()
    {
        string totpConfigName = await JS.InvokeAsync<string>(Constants.InteropFunctionNames.GET_INPUT_VALUE, Constants.ElementIds.TOTP_CONFIG_ENTRY_NAME, "(Unnamed)");
        string totpSecret = await JS.InvokeAsync<string>(Constants.InteropFunctionNames.GET_INPUT_VALUE, Constants.ElementIds.TOTP_SECRET, string.Empty);

        userData.Chain.Add(new TotpConfig
        {
            Name = totpConfigName,
            TotpSecretKey = totpSecret,
        });

        await UserDataService.SetUserData(userData);

        StateHasChanged();
    }

    private async Task CheckManualRegistrationReady()
    {
        string totpSecret = await JS.InvokeAsync<string>(Constants.InteropFunctionNames.GET_INPUT_VALUE, Constants.ElementIds.TOTP_SECRET, string.Empty);

        registrationReady = totpSecret.NotNullNotEmpty(); // TODO: check other fields against validity too! And ensure valid Base32 encoding!
    }

}